/*
=============== 
Variables
===============
*/

:root {
	/* primary color*/
	--clr-primary-dark: hsl(266, 86%, 17%);
	--clr-primary-mid: hsl(266, 78%, 60%);
	--clr-primary-light: hsl(266, 34%, 76%);
	/* secondary color*/
	--clr-secondary-dark: hsl(49, 86%, 17%);
	--clr-secondary-mid: hsl(49, 77%, 58%);
	--clr-secondary-light: hsl(49, 34%, 76%);

	/* darkest grey - used for headings */
	--clr-grey-dark: hsl(209, 61%, 16%);
	--clr-grey-mid: hsl(209, 34%, 30%);
	--clr-grey-standard: hsl(210, 22%, 49%);
	--clr-grey-light: hsl(210, 36%, 96%);

	--clr-disabled: hsl(213, 7%, 71%);
	--clr-white: #fff;
	--clr-red-dark: hsl(360, 67%, 44%);
	--clr-red-light: hsl(360, 71%, 66%);
	--clr-green-dark: hsl(125, 67%, 44%);
	--clr-green-light: hsl(125, 71%, 66%);

	--clr-black: #222;
	--transition: all 0.3s linear;
	--spacing: 0rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--dark-popout: 5px 5px 15px rgba(0, 0, 0, 0.4);
	--max-width: 1170px;
	--nav-height: 70px;
	--fixed-width: 620px;

	--large-card: 30rem;
	--medium-card: 10rem;
	--small-card: 4rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: var(--clr-grey-light);
	color: var(--clr-grey-dark);

	line-height: 1.5;
	font-size: 0.875rem;
}

ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	background: transparent;
	color: var(--clr-grey-mid);
	cursor: pointer;
}
h1,
h2,
h3,
h4 {
	letter-spacing: var(--spacing);
	text-transform: capitalize;
	margin-bottom: 0.75rem;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: 0.875rem;
}
p {
	margin-bottom: 1.25rem;
	color: var(--clr-grey-standard);
}
@media screen and (min-width: 800px) {
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1rem;
	}
	body {
		font-size: 1rem;
	}
	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
	}
}
/*  global classes */

/* section */
.section {
	width: 90vw;
	margin: 0 auto;
	max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
	.section {
		width: 95vw;
	}
}

/*
=============== 
Navigation
===============
*/
nav {
	background: var(--clr-primary-dark);
	color: var(--clr-primary-light);
	box-shadow: var(--light-shadow);
}

.nav-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: var(--nav-height);
}

.logo {
	height: 40px;
}
.logo a {
	color: var(--clr-primary-light);
}
.account {
	display: flex;
}
.account-logo {
	font-size: 1.5rem;
	margin-right: 0.2rem;
}

.drop-menu {
	position: absolute;
	top: var(--nav-height);
	left: 80vw;
	width: 15vw;
	height: 0px;
	/* display: none; */
}

.drop-links {
	position: absolute;
	z-index: 999;
	top: var(--nav-height);
	left: 80vw;
	width: 15vw;
	background-color: white;
	border-color: transparent;
	padding: 1rem;
	display: none;
}
.drop-links li {
	padding: 0.5rem;
	text-align: center;
}
.drop-links li a {
	font-size: larger;
	color: var(--clr-grey-mid);
	text-transform: capitalize;
}
.drop-links li:hover {
	background-color: var(--clr-primary-mid);
}

.nav-toggle {
	font-size: 1.5rem;
	color: var(--clr-primary-mid);
	background: transparent;
	border-color: transparent;
	transition: var(--transition);
	cursor: pointer;
}

.nav-toggle:hover {
	transform: rotate(180deg);
}

.nav-menu,
.nav-links {
	display: none;
}

@media screen and (min-width: 800px) {
	/* Bigger screens */

	.nav-links {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		background-color: transparent;
		color: var(--clr-grey-light);
	}

	.nav-links li {
		padding: 0.5rem;
		text-align: center;
	}
	.nav-links li a {
		color: var(--clr-primary-light);
		text-transform: capitalize;
	}
	.nav-links li:hover {
		background-color: var(--clr-primary-mid);
	}
	.nav-container {
		padding: 0;
	}
	.nav-toggle,
	.drop-menu,
	.drop-links {
		display: none;
	}
}

/* BUTTONS */

.btn {
	font-size: 1rem;
	padding: 0.25rem 0.75rem;
	border-radius: var(--radius);
	border-color: transparent;
	background-color: transparent;
	cursor: pointer;
	transition: var(--transition);
	margin: 0.1rem;
}
.btn.primary {
	background: var(--clr-primary-mid);
	color: var(--clr-grey-light);
}
.btn.primary a {
	color: var(--clr-grey-light);
}
.btn.primary a:hover {
	color: var(--clr-grey-dark);
}
.btn a:hover {
	color: var(--clr-secondary-dark);
}

.btn:hover {
	color: var(--clr-primary-light);
}
.btn.primary:hover {
	color: var(--clr-grey-dark);
	background-color: var(--clr-secondary-mid);
}

/* HERO */
.hero::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.hero {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hero-image1 {
	background: url('./assets/wordcloud1.svg');
}
.hero-image2 {
	background: url('./assets/wordcloud2.svg');
}
.hero-image3 {
	background: url('./assets/wordcloud3.svg');
}
.hero-image4 {
	background: url('./assets/wordcloud4.svg');
}
.hero-image5 {
	background: url('./assets/wordcloud5.svg');
}
.hero-image6 {
	background: url('./assets/wordcloud6.svg');
}
.hero-image1,
.hero-image2,
.hero-image3,
.hero-image4,
.hero-image5,
.hero-image6 {
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -999;
}

.hero-center {
	position: relative;
	top: 8rem;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
}

.hero-info {
	background-color: var(--clr-primary-light);
	text-transform: none;
	margin: 0 2rem 2rem;
	min-height: 40vh;
	padding: 1rem;
	border-radius: 10px;
	box-shadow: var(--dark-popout);
}
.hero-info p {
	line-height: 1.8;
	margin-bottom: 0.2rem;
	color: var(--clr-grey-dark);
}

@media screen and (min-width: 800px) {
	/* Bigger screens */
	.hero-center {
		grid-template-columns: 2fr 1fr;
	}
	.hero-info {
		max-height: 35vh;
	}
}
.hero-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-height: 35vh;
	overflow-y: scroll;
	padding: 1rem;
}

@media screen and (min-width: 800px) {
	/* Bigger screens */
	.hero-center {
		grid-template-columns: 2fr 1fr;
	}
	.hero-info {
		max-height: 35vh;
	}
	.hero-cards {
		grid-template-columns: 1fr;
		max-height: 75vh;
	}
}

@media screen and (max-width: 600px) {
	/* Smaller screens */
	.hero-cards {
		/* grid-template-columns: 1fr 1fr;
		max-height: 75vh; */
	}
}

.card {
	background-color: var(--clr-grey-light);
	box-shadow: var(--dark-popout);
	color: var(--clr-primary-dark);
	min-height: var(--medium-card);
	border: transparent;
	border-radius: 5px;
	padding: 0.2rem;
	margin: 0 2rem 1rem;
	cursor: pointer;
}
.small-card {
	min-height: var(--small-card);
}
.medium-card {
	min-height: var(--medium-card);
}
.large-card {
	min-height: var(--large-card);
	padding: 2rem 4rem;
}
.inner-card {
	padding: 0.5rem;
	border-radius: 3px;
	height: 100%;
	transition: all ease-in-out 200ms;
}
.inner-card:hover {
	background-color: var(--clr-secondary-mid);
	transform: rotate(-2deg) translateY(-0.5rem) scale(1.02);
}

/* PLAY */
.play {
	position: relative;
	display: grid;
	min-height: 45vh;

	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
}

.wordsearch {
	padding: 0;
}
.word-grid {
	padding: 0;
	margin: 0;
	background-color: var(--clr-grey-light);
	box-shadow: var(--dark-shadow);
	display: grid;
	justify-content: center;
	min-height: 40vh;
}
.word-grid .row {
	position: relative;
	display: flex;
}
.word-grid .letter {
	width: 1rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	margin: 0;
	cursor: pointer;
	background-color: transparent;
}

.word-grid .letter.selected {
	background-color: var(--clr-primary-light);
}
.word-grid .letter.found {
	background-color: var(--clr-green-dark);
}
.words {
	background-color: transparent;
	padding: 3rem 0;
}
.words .word {
	text-align: center;
}

.words .word.found {
	text-decoration: line-through;
	color: var(--clr-disabled);
}

@media screen and (min-width: 800px) {
	/* Bigger screens */
	.play {
		grid-template-columns: 8fr 2fr;
	}

	.wordsearch {
		padding: 1rem 0;
	}
	.word-grid {
		padding: 1rem;
		margin: 0 1rem;
	}
	.word-grid .letter {
		width: 2rem;
		margin: 0.1rem;
		font-size: larger;
	}

	.words {
		padding: 3rem 1rem;
	}
}

.loading {
	display: flex;
	height: 100vh;
	width: 100vw;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.9);
}
.loading img {
	width: 5rem;
	height: 5rem;
}

/*
=============== 
Login/Registration
===============
*/

.login-form {
	position: relative;
	width: 20rem;
	margin: 2rem auto;
	max-width: 80vw;
	padding: 2rem;
	min-height: 50vh;

	background-color: var(--clr-grey-light);
	box-shadow: var(--dark-popout);
	color: var(--clr-primary-dark);
	border: transparent;
	border-radius: 5px;
}
@media screen and (min-width: 800px) {
	/* Bigger screens */
	.login-form {
		width: 25rem;
		max-width: 50vw;
	}
}

.form-control {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
.login {
	border: 1px solid var(--clr-grey-mid);
	padding: 0.5rem 1rem;
	border-radius: 5px;
	margin: 1rem 0 0.5rem 0;
}
